
body {
    font-family: 'Exo', Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-color: #727272;
    /*border: 1px solid lightgrey !important;  /!*just to see the layout *!/*/
}

.container.top-level {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    /*-webkit-box-shadow: 7px -5px 16px -2px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 7px -5px 16px -2px rgba(0,0,0,0.75);*/
    /*box-shadow: 7px -5px 16px -2px rgba(0,0,0,0.75);*/
}

h2 {
    text-align: left;
    color: lightgray;
    font-weight: 400;
}

a {
    color: inherit;
}

a:link {
    color: lightgray; text-decoration: none;
}

a:active {
    color: #fff; text-decoration: none;
}

a:visited {
    color: lightgray; text-decoration: none;
}

a:hover {
    color: #fff; text-decoration: underline;
}


/******header******/
.header {
    border-bottom: 3px solid lightgrey;
    margin-bottom: 10px;
}

.logo {
    margin-top: 3px;
    max-height: 103px;
}

.about {
    margin: 10px 5px 10px 5px;
}

.square-list {
    list-style-type: square;
}

/********Showacase**********/
.showcase-img {
    height: 200px;
}

.showcase {
    font-size: 14px;
}

nav {
    margin-top: 100px;
    width: 110px;
}

.contact-icon {
    max-height: 87px;
    margin-top: 17px;
}

nav ul {
    list-style: none;
}

/****** < md breakpoint ********/
@media screen and (max-width: 992px) {
    nav,
    nav ul {
        width: 100%;
    }

    nav a,
    nav li {
        width: 33%;
        display: inline-block;
    }
}

