
* {
    font-family: 'Exo', Helvetica, sans-serif;
    font-size: 18px;
    /*border: 1px solid lightgrey !important;  /!*just to see the layout *!/*/
}

#whole-page {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: grey;
    font-weight: 400;
}

a,
.showcase a {
    color: inherit;
}

/******header******/
.header {
    border-bottom: 3px solid lightgrey;
    margin-bottom: 10px;
}

.header img {
    margin-top: 10px;
    max-height: 80px;
}

.about {
    margin: 10px 5px 10px 5px;
}

.about li {
    list-style-type:square;
}

/********Showacase**********/
.showcase h2 {
    text-align: left;
    color: rgb(205, 205, 205);
}

.showcase img {
    height: 200px;
}

.showcase p {
    font-size: 14px;
}

nav {
    margin-top: 100px;
    width: 110px;
}

nav img {
    max-height:87px;
    margin-top:17px;
}

nav ul {
    list-style: none;
}

/****** < md breakpoint ********/
@media screen and (max-width:992px) {
    nav,
    nav ul {
        width: 100%;
    }

    nav a,
    nav li {
        width: 33%;
        display: inline-block;
    }

}

