
* {
    font-family: 'Exo', Helvetica, sans-serif;
    font-size: 18px;
    /*border: 1px solid lightgrey !important;  /!*just to see the layout *!/*/
}

#whole-page {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: grey;
    font-weight: 400;
}

.header {
    border-bottom: 3px solid lightgrey;
    margin-bottom: 10px;
}

.header img {
    margin-top: 10px;
    max-height: 80px;

}

/*header*/
.about {
    margin: 10px 5px 10px 5px;
}

.showcase h2 {
    text-align: left;
    color: rgb(205, 205, 205);
}



.showcase img {
    height: 200px;
}

nav {
    margin-top: 100px;
    width: 110px;
}

@media screen and (max-width:992px) {
    nav {
        display: none;
    }
    .logo{
        /*display: none;*/
    }
}

